!!! 5
%html{:lang => "pt"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "keywords", :content => ""}
    %meta{:name => "description", :content => ""}

    %title
      = yield(:title) + " - Encurtador bolado de URL"

    = stylesheet_link_tag "application", :type => nil, :media => "all"
    = csrf_meta_tags

    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

  %body
    .container
      %header#header
        %h1#logo<
          = link_to "Encurtador bolado de URL", root_url, title: "Voltar para home"

        #login-nav
          - if current_user
            = "Logado como #{current_user.email}"
            = link_to "Sair", logout_path, title: "Fazer logout desta conta"
          - else
            = link_to "Cadastrar", new_user_path, title: "Criar cadastro no site"
            ou
            = link_to "Logar", login_path, title: "Fazer login no site"

      %hr

      = render 'flash_messages'

      %section{ :role => "main" }
        = yield

