!!! 5
%html{:lang => "pt"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "keywords", :content => ""}
    %meta{:name => "description", :content => ""}

    %title
      = yield(:title) + " - Encurtador bolado de URL"

    = stylesheet_link_tag "application", :type => nil, :media => "all"
    = csrf_meta_tags

    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

  %body
    .container
      %header#header
        #login-nav
          /- if current_user
          /  %p
          /    = "Bem-vindo <strong>#{current_user.name}</strong> &bull; ".html_safe
          /    = link_to "Sair", logout_path
          /- else
          /  %p
          /    = link_to "Acesse com Facebook", "/auth/facebook", :id => "facebook-connect"

        %h1#logo<
          = link_to "Encurtador bolado de URL", root_url, title: "Voltar para home"

      %hr

      = render 'flash_messages'

      %section{ :role => "main" }
        = yield

